body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
  font-family: Figtree, arial;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  padding: 25px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-jessica {
  width: 70px;
  border-radius: 40px;
}

h4 {
  color: white;
  margin-bottom: 0;
}
h5 {
  color: hsl(75, 94%, 57%);
  margin-top: 10px;
}

p {
  color: white;
  font-size: 13px;
  margin-top: 0;
}

button {
  margin-bottom: 8px;
  padding: 10px;
  color: white;
  background-color: hsl(0, 0%, 20%);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
    background-color: rgb(131, 189, 15);
    color: hsl(0, 0%, 8%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
